<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="/static/Chart.min.js"></script>
    <title>Derivative Calculator App</title>
  </head>
  <body>
    
    <canvas id="myChart" class='container'></canvas>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in labels %}
             {{item}},
            {% endfor %}],
        datasets: [{
            label: 'function',
            data: [{% for item in values %}
                {{item}},
              {% endfor %}],
            borderColor: ['rgba(66, 135, 245, 0.3)']
        },
        {
            label: 'derivative',
            data: [{% for item in deriv %}
                {{item}},
              {% endfor %}],
            borderColor: ['rgba(237, 27, 12, 0.3)']

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: -25,
                    suggestedMax: 25
                }
            }],
        }
    }
});
</script>
    <div class="container">
        <h1>The Derivative of {{ display_orig }} is {{ display_derivative }}</h1>
    </div>
<div class="container">
<form action="#" method="post">
    <div class="form-group justify-content-left row">
        <div class="col-sm-8">
            <table>
            <tr><p class="instructions">FORMAT:</p></tr>
            <tr><p class="instructions">Enter formula with spaces between terms and operators.</p></tr>
            <tr><p class="instructions">Please enter any fractions as a decimal.</p></tr>
            <tr><p class="instructions">Support for negative exponents has not been added yet.</p></tr>
            <tr><p class="instructions">Use a carrot to indicate exponentiation.</p></tr>
            <tr><p class="instructions">Ex: "x^3 + 6x"</p></tr>
            <tr><p class="instructions">Range must be entered as integers.</p></tr>  
            </table>
        </div>
    </div>
    <div class="form-group justify-content-left row">
        <div class="col-sm-2">
        <label for="x_min_in">FROM X =</label>
        <input class="form-control" id="x_min_in" type="text" name="x_min"/>
        </div>
    </div>

    <div class="form-group justify-content-left row">
        <div class="col-sm-2">
        <label for="x_max_in">TO X =</label>
        <input class="form-control" id="x_max_in" type="text" name="x_max"/>
        </div>
    </div>
    <div class="form-group justify-content-left row">
        <div class="col-sm-2">
        <label for="equation_input">f(x) = </label>
        <input class="form-control" id="equation_input" type="text" name="eq_in"/>
        </div>
    </div>
    <div class="form-group justify-content-left row">
        <div class="col-sm-2">
        <input class="btn btn-primary" type="submit" value="submit"/>
        </div>
    </div>

</form>
</div>
<div class="container">
    <h3>{{ error_mess }}</h3>
</div>


    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>