body {
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(141,141,214,1) 35%, rgba(0,212,255,1) 100%);
}

canvas {
    background: white;
    border-radius: 1%;
}

label,h1,h3,p {
    color: white;
}
